<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dream.william">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.notification.NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.layout.ConstraintLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".photophase.PhaseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".photophase.PhaseEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".photophase.PhaseShowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".database.realm.RealmActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.widget.ToolBarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.widget.SearchViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".component.activity.ActivityOne">
        </activity>
        <activity android:name=".component.activity.ActivityTwo">
        </activity>
        <activity android:name=".component.activity.ActivityZero">
        </activity>
        <activity android:name=".view.widget.WebViewActivity">
        </activity>
        <activity android:name=".view.widget.TextViewActivity">
        </activity>
    </application>

</manifest>